.main {
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  
  .nav {
    position:fixed;
    left:0;
    top:0;
    z-index:999;
    width:100%;
    height:74px;
    background-color:#0C1D2C;
    display:flex;
    justify-content:space-around;
    align-items:center;
    overflow:hidden;
  }
  
  .logo {
    object-fit:cover;
    object-position:center;
  }
  
  .link {
    float:left;
    color:#ffff;
    font-size:16px;
    font-weight:400;
    margin:0px 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:38px;
  }
  
  .red {
    color:#B84542;
  }
  
  .btn {
    width:136px;
    height:38px;
    background-color:#B84542;
    color:#ffff;
    font-size:16px;
    font-weight:300;
    border-radius:8px;
    transition:all 0.3s ease-in-out;
  }

  .btn:hover {
    background-color:#B84542;
    color:#ffff;
  }
  
  .current_link {
    width:78px;
    border-bottom:1.89px solid #B84542;
  }

  .dropdown {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background-color:#0C1D2C;
    transition:all 0.4s ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
 }

 .menu {
    display:none;
 }

 .cross {
    position:absolute;
    top:34px;
    right:34px;
 }

 .home {
    width:100%;
    height:755px;
    background-color:#ffff;
    display:flex;
    justify-content:center;
    align-items:center;
 }

 .left {
    width:50%;
    height:100%;
    background:url('/circle.svg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    padding-left:104px;
 }

 .right {
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
 }

 .h1 {
    font-size:54px;
 }

 .para {
    width:74%;
    font-size:22px;
    font-weight:300;
    margin:14px 0px;
 }

 .button {
    width:156px;
    height:38px;
    margin:15px 0px;
    background:transparent;
    border:0.47px solid #000;
    border-radius:50px;
    font-size:16px;
    transition:all 0.3s ease-in-out;
 }

 .button:hover {
    background:#000;
    bordeR:none;
    color:#ABE304;
 }

 .form {
    width:52%;
    margin:28px 0px;
 }

 .input {
    width:100%;
    height:42px;
    background-color:#00000010;
    padding-left:16px;
    border-radius:8px;
    border:0.47px solid #00000020;
    font-size:16px;
 }

 .input::placeholder {
    font-size:16px;
 }

 .div {
    margin:12px 0px;
 }

 .open {
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    z-index:999;
 }

 .closed {
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    z-index:1000; 
 }

 .link_ {
    font-size:16px;
    color:#749A02;
    text-decoration:underline;
    float:right;
    margin-top:10px;
 }

 .btn_div {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
 }

 .login {
    width:160px;
    height:45px;
    background-color:#ABE304;
    font-size:18px;
    color:#000;
    border-radius:50px;
    margin:20px 0px;
 }

 .alert {
   width:100%;
   min-height:38px;
   height:auto;
   background-color:rgba(248, 135, 135, 0.396);
   border-radius:8px;
   margin:16px 0px;
   display:flex;
   justify-content:center;
   align-items:center;
   color:rgb(187, 1, 1);
   border:0.47px solid rgba(187, 1, 1, 0.45);
 }

 @media only screen and (min-width: 601px) and (max-width: 900px) {

    .main {
        height:100vh;
        overflow:hidden;
    }

    .home {
        flex-direction:column;
        margin-top:24px;
    }

    .left {
        width:100%;
        height:310px;
        background-size:cover;
        background:url('/9.svg');
        align-items:center;
        padding-left:0px;
    }

    .para {
        text-align:center;
    }

    .right {
        width:100%;
        height:auto;
        margin-top:38px;
    }

 }

 @media only screen and (max-width: 600px) {

    .main {
        height:100vh;
        overflow:hidden;
    }

    .nav {
        justify-content:space-between;
        padding:0px 14px ;
    }

    .desktop_link {
        display:none;
    }

    .menu {
        display:block;
    }

    .link {
        float:none;
        margin:24px 0px;
        font-size:22px;
    }

    .current_link {
        height:54px;
        width:auto;
    }

    .btn {
        width:180px;
        height:54px;
        font-size:20px;
    }

    .home {
        flex-direction:column;
    }

    .left {
        width:100%;
        height:310px;
        background-size:cover;
        background:url('/9.svg');
        align-items:flex-end;
        padding-left:0px;
        padding-right:20px;
        transform:translateY(-5px);
    }

    .h1 {
        font-size:38px;
    }

    .para {
        text-align:right;
        font-size:16px;
    }

    .right {
        width:100%;
        height:auto;
        margin-top:38px;
    }

    .form {
        width:92%;
    }

 }